# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and negation (prefixed with !).
# Only one pattern per line.

# VCS files
.git/
.gitignore

# Misc files
*.tmp
.DS_Store
